.header {
    justify-content: space-between;
}

.header .logo {
    padding: 30px 50px 30px 0px;
    height: 19px;
}

.header .menu .list-link .link {
    padding-top: 14px;
    border-top: solid 2px transparent;
    color: #000000;
    text-decoration: none;
}

.header .menu .list-link .link:hover {
    border-top: solid 2px #0065FC;
    color: #0065FC;
}

.header .menu .list-link .link a {
    display: flex;
    height: 100%;
}

.header .menu .list-link #link-accomodation {
    margin-left: 50px;
}

.header .menu .list-link #link-activities {
    margin-left: 68px;
}
