.footer {
    background-color: #F2F2F2;
    justify-content: space-between;
}

.footer .footer-column {
    padding: 20px;
    width: 100%;
}

/* suppression de la mise en forme par défaut */
.footer .footer-column .footer-subtitle {
    font-size: 18px;
    margin: 0;
}

/* écart entre les éléments du menu selon footer */
.footer li {
    padding-top: 15px;
}