/****** Hébérgements And Populaires ***********/
.accomodations-and-popular {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.accomodations-and-popular section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.accomodations {
    width: 65%;
}

.accomodations .accomodations-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

}

.accomodations .accomodations-cards .simple-link {
    /* chaque  élément de la section doit faire au moins 250px de large */
    /* flex: 250px; */
    /* quand je mets dans article il n'enlève pas la dernière marge */
    /* margin-right: 30px; */
    /* margin-bottom: 30px; */
    width: 250px;
    /* width: calc(33.3333333% - 20px); */
}

/* le dernier élément de chaque ligne doit avoir une marge de zéro */
/* .accomodations .accomodations-cards a:nth-of-type(3n) {
    margin-right: 0;
} */

.accomodations .accomodations-cards .card {
    display: flex;
    flex-direction: column;
    /* prend la largeur de mon a */
    width: 100%;

}

/* ajuster la taille de l'image */
.accomodations .accomodations-cards .card img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 4px;
    border-bottom: 5px solid #FFFFFF;
    box-sizing: border-box;
}

/* ajuster l'écart entre les lignes de contenu */
.accomodations .accomodations-cards .card .card-content {
    padding: 0px 15px 15px 15px;
}

/* apparence du contenu des cartes */
.accomodations .accomodations-cards .card .card-content .card-title {
    margin-top: 0;
    margin-bottom: 8px;
}

.accomodations .accomodations-cards .card .card-content .card-subtitle {
    margin-bottom: 8px;
    font-size: 14px;
}


/****** Populaires ***********/
.popular {
    width: 32%;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
}

.popular-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding: 10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 5px solid #FFFFFF;
    border-top: 5px solid #FFFFFF;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;


}

.popular-cards .card-title {
    margin: 0;
    /* margin-top: 10px; */
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
    font-size: 14px;
}


.see-more {
    display: block;
    font-size: 18px;
    margin-top: 30px;
}